@media screen and (max-width: 768px) {
    main .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
    }
    .icon {
        display: none;
    }
}