@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--primary-color);
        width: 100%;
        top: 50px;
        left: 0;
        z-index: 1000;
    }

    .nav-menu.active li {
        margin: 0;
        text-align: center;
    }

    .nav-menu.active li a {
        padding: 15px;
        display: block;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .nav-menu.active li a:hover {
        background-color: #555;
    }

    .mobile-menu {
        display: block;
    }

    .hamburger {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }

    .bar {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: transform 0.3s ease;
    }

    .nav-menu.active + .mobile-menu .hamburger .bar:nth-child(1) {
        transform: translateY(6.5px) rotate(45deg);
    }

    .nav-menu.active + .mobile-menu .hamburger .bar:nth-child(2) {
        transform: scaleX(0);
    }

    .nav-menu.active + .mobile-menu .hamburger .bar:nth-child(3) {
        transform: translateY(-6.5px) rotate(-45deg);
    }

    main .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
    }
    .carousel-control {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .carousel-control {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
    }
}