:root {
    --primary-color: #22577A;
    --secondary-color: #2B2D33;
    --accent1-color: #CED5E3;
    --accent2-color: #1C3F80;
    --heading-font: "Oswald", arial;
    --paragraph-font: "Open Sans", sans-serif;
    --nav-background-color: #CED5E3;
    --nav-link-color: #3E6DD2;
    --nav-hover-link-color: #fff;
    --nav-hover-background-color: #1C3F80;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--paragraph-font), serif;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
main {
    min-height: calc(100vh - 120px);
    background-color: #f9f9f9;
}
header {
    background-color: var(--primary-color);
    color: #fff;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
}
.head img {
    width: 64px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
.head h1 {
    font-size: 24px;
    margin: 0;
}
.container {
    margin: 0 auto;
    padding: 15px;
    background-color: var(--secondary-color);
}
.nav-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.nav-menu li {
    margin: 0 15px;
}
.nav-menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bolder;
}
.nav-menu li a:hover {
    color: var(--nav-link-color);
    font-weight: bolder;
}
.mobile-menu {
    display: none;
}
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #fff;
}
main h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    margin: 0;
    border-radius: 4px 4px 0 0;
    padding: .5em;
}
.course-work {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 25;
    box-shadow: 0 0 8px 0;
    border-radius: 4px;
}
.course-work ul {
    margin: 1em;
    padding: 1em;
}
.course-work ul li {
    padding: 1em;
}
.country {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 25;
    box-shadow: 0 0 8px 0;
    border-radius: 4px;
}
.country .country-image {
    width: 100%;
    height: auto;
    padding: 1em;
}
.country p {
    text-align: justify;
    padding: 1em;
}
.courses {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 25;
    grid-row-end: 26;
    box-shadow: 0 0 8px 0;
    margin-bottom: 15px;
    border-radius: 4px;
}
#buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
#buttons-container button {
    background-color: #133788;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
#buttons-container button:hover {
    background-color: #4B6FC1FF;
    font-weight: bolder;
}
#buttons-container button.active {
    background-color: #133788FF;
}
#courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    text-align: center;
    margin: 1em;
}
.course-card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-left: 6px solid #133788FF;
    transition: transform 0.3s, box-shadow 0.3s;
}
.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.course-card h3 {
    margin-top: 0;
    color: #333;
}
.course-card p {
    color: #666;
    margin: 10px 0;
}
.course-card .credits {
    font-weight: bold;
    color: #333;
}
.course-card .technology {
    margin-top: 10px;
    font-style: italic;
    color: #888;
}
.course-card hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
